@import url("https://fonts.googleapis.com/css?family=Cinzel:300,400,500,700|Open+Sans:300,400,700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --color-1: rgb(201, 144, 161);
  --color-2: rgb(242, 242, 242);
  --color-3: rgb(0, 0, 0);
  --color-4: rgba(32, 32, 32, 0.7);
  --color-5: rgb(0, 0, 0, 0.5);
  --color-6: rgb(77, 77, 77);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-2);
}

/*---Navigation ---------------------*/

#navbar {
  background-color: var(--color-5) !important;
}

#logo {
  font-family: "Cinzel", sans-serif;
  color: var(--color-1);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navbar-nav {
}

.navbar-item {
  letter-spacing: 0.1rem;
}

#logo:hover {
  color: var(--color-2);
}

#navbar-nav a:hover {
  color: var(--color-1);
}

/*---Footer ---------------------*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: var(--color-3);
}


footer .list-inline-item a {
    color: var(--color-2);
}

footer .list-inline-item a:hover {
    color: var(--color-1);
}

/*---Home page ------------------*/

#body-homepage {
  height: 100vh;

  background: url("../images/Anya-original1-bw-3.jpg") no-repeat top center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.listen-button-homepage {
  border-radius: 0;
  color: var(--color-6);
  background-color: var(--color-1);
  border-bottom-color: var(--color-1);
  border-top-color: var(--color-1);
  border-right-color: var(--color-1);
  border-left-color: var(--color-1);
  padding: 0.4rem 1.6rem;
  text-transform: uppercase;
  margin: 20% 10%;
  letter-spacing: 0.1rem;
}

.listen-button-homepage:hover {
  color: var(--color-1);
}

/*---Music page ------------------*/

/*---About page ------------------*/

/*---Contact page ------------------*/
